*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: auto;
    background: rgb(255, 255, 255);
    
}
.nav1 {
    height: 25%;
}
.img1 {
    height: 125px;
    width: 125px;
    object-fit: cover;
}

.cartHeight {
    height: 100%;
}

.divCart:hover {
    background-color: rgb(235, 128, 142);
  }

  .foot {
    height: 20%;
    width: auto;
   
  }

.logimg {
  
        width: 50%;
        height: auto;
      
}

.iconLogin {
    padding: 0;
    height: 50px;
    width: 50px;
}

.iconNav {
    height: 100px;
    width: 150px;
}

.fontinput {
    font-size: 14px;
    
}
  
.navItem:hover {
    border-top: 4px solid blue
}

.pedidoHover:hover {
    background: rgb(21, 65, 211);
    color :white !important
}
