{{>premiumNav}}
<div class ="d-flex flex-wrap justify-content-around h-100 ">
    <div class ="container-fluid  mx-4 shadow shadow-m h-100 w-auto">
        <p class ="h3 my-4 mx-4">Pendiente de aprobacíon</p>
        <div class ="row justify-content-md-center my-2 p-4 ">
            <div class ="col-sm-auto ">
                <div class ="row shadow shadow-sm  rounded mx-2 pedidoHover border border-danger border-4 p-2">
                    <div class ="col-sm-auto ">
                        <img  class ="iconLogin mx-4 my-2"src="/formPedido.png" alt="">
                    </div>
                    <div class ="col-sm-auto  ">
                        <p class ="h5">Buque</p>
                        <p class ="h6">Viejo Pancho</p>
                    </div>
                    <div class ="col-sm-auto">
                        <p class ="h5">Fecha</p>
                        <p class ="h6">04-11-2023</p>
                    </div>
                    <div class ="col-sm-auto">
                        <p class ="h5">Horario</p>
                        <p class ="h6">9 hs</p>
                    </div>
                    <div class ="col-sm-auto">
                        <p class ="h5">Puerto</p>
                        <p class ="h6">Mar Del Plata</p>
                        <form action="">
                            <input type="hidden">
                            <button class ="btn btn-sm btn-success my-1 ">Aprobar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class ="container-fluid  mx-4 shadow shadow-m h-100 w-auto">
        <div class ="row justify-content-md-center p-3 ">
            <div class ="col-sm-auto  ">
                <p class ="h3 my-4 mx-4  border-bottom">Aprobados</p>
                <div class ="row shadow shadow-m my-1 rounded mx-2 border border-success border-4 pedidoHover  p-2">
                    <div class ="col-md-auto ">
                        <img  class ="iconLogin mx-4 my-2"src="/formPedido.png" alt="">
                    </div>
                    <div class ="col-sm-auto  ">
                        <p class ="h5">Buque</p>
                        <p class ="h6">Viejo Pancho</p>
                    </div>
                    <div class ="col-sm-auto">
                        <p class ="h5">Fecha</p>
                        <p class ="h6">04-11-2023</p>
                    </div>
                    <div class ="col-sm-auto">
                        <p class ="h5">Horario</p>
                        <p class ="h6">9 hs</p>
                        <form action="">
                            <input type="hidden">
                            <button class ="btn btn-sm btn-warning my-1 ">Modificar</button>
                        </form>
                    </div>
                    <div class ="col-sm-auto">
                        <p class ="h5">Puerto</p>
                        <p class ="h6">Mar Del Plata</p>
                        <form action="">
                            <input type="hidden">
                            <button class ="btn btn-sm btn-danger my-1 ">Desaprobar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

