{{>navAdmin}}
<div class ="container-fluid my-2 shadow shadow-m rounded h-100 mx-2 my-4  ">
  <form  action="/orders/addOrder" method ="post"class ="d-flex justify-content-center  my-4 p-3 h-100    ">
      <div class ="d-flex flex-column  align-items-center justify-content-center P-3 shadow shadow-lg rounded h-75 w-75  ">
        <div class ="container-sm w-50 mx-auto my-4   border-blue border-1">
            <div  class ="input-group mb-3 w-50 my-2 ">
                <div class=" d-inline-flex border  rounded-pill justify-conten-center align-items-center p-2 shadow shadow-m">
                  <div class ="container-sm">
                      <img  class ="iconLogin mx-2" src="/addForm.png" alt="">
                  </div>
                  <div class ="container-fluid">
                      <p class ="h6">Alta de Buque</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="input-group mb-3 w-50 my-2">
          <span class ="input-group-text bg-primary text-white font fontinput" for="exampleFormControlSelect1">Puerto</span>
          <select class="form-control form-control-sm w-50 fontinput" id="exampleFormControlSelect1" >
            <option>Mar Del Plata</option>
          </select>
        </div>
        <div class="input-group mb-3 w-50 my-2">
          <span class ="input-group-text bg-primary text-white fontinput" for="exampleFormControlSelect1">Fecha</span>
           <input class ="form-control  w-50 fontinput" type="date">
        </div>
        <div class="input-group mb-3 w-50 my-2">
          <span class ="input-group-text bg-primary text-white fontinput" for="exampleFormControlSelect1">Barco</span>
          <select class="form-control  w-50 fontinput" id="exampleFormControlSelect1" >
            <option value=""></option>
          </select>
        </div>
        <div class="input-group mb-3 w-50 my-2">
          <label class ="input-group-text bg-primary text-white fontinput" for="exampleFormControlSelect1">Litros</label>
          <input class ="form-control  w-50- fontinput" type="number">
        </div>
        <div class="input-group mb-3 w-50 my-2">
          <label class ="input-group-text bg-primary text-white fontinput" for="exampleFormControlSelect1">Horario</label>
          <input class ="form-control  w-50 fontinput" type="time">
        </div>
        <div class ="form-group w-50 my-4">
          <button type ="submit" class ="btn btn-sm btn-outline-primary ">Confirmar</button>
        </div>
      </div>
  </form>
</div>
