<div class ="container-fluid bg-secondary p-3">
    {{#unless user}}
        <div class ="d-flex  flex-row  ">
            <div class ="d-inline-flex  col-6 my-2 mx-2">
                <form  class ="mx-2" action="/views/register" method ="get">
                    <button class ="btn btn-sm btn-outline-dark border border-1 border-white text-white">Register</button>
                </form>
            </div>
    {{/unless}}
    {{#if user}}
        <div class ="d-flex  flex-row  ">
            <div class ="d-inline-flex  col-6 my-2 mx-2">
                <form  class ="mx-2" action="/views/products" method ="get">
                    <button class ="btn btn-sm btn-outline-dark border border-1 border-white text-white">Home</button>
                </form>
                <form  class ="mx-2" action="/messenger" method ="get">
                    <button class ="btn btn-sm btn-outline-dark border border-1 border-white text-white">Messenger</button>
                </form>
            </div>
            <div class ="d-inline-flex mx-2   col-6 my-2 justify-content-end">
                <form class="form-inline " action="/user/logout" method="get">
                    <button class=" border border-1 border-white btn btn-sm btn-outline-dark text-white " type="submit">Log Out</button>
                </form>
                <form class="form-inline mx-4 " action="/views/userCart" method="get">
                    <button class=" border border-1 border-white btn btn-sm btn-outline-dark text-white " type="submit">Show Cart</button>
                </form>
            </div>
        </div>
    {{/if}}
    </div>
</div>