<div class ="container-fluid bg-danger p-3">
    <div class ="d-inline-flex col-12  justify-content-between">
        <div class ="d-inline-flex">
            <div class ="container-sm">
                    <form action="/views/userManager" method ="get">
                        <button class ="btn btn-sm btn-danger border border-1 border-white">User Manager</button>
                    </form>
                </div>
                <div class ="container-sm">
                    <form action="/views/addProduct">
                        <button class ="btn btn-sm btn-danger border border-1 border-white">Add product</button>
                    </form>
                </div>
        </div>
        <div class ="d-inline-flex ">
            <div class ="container">
                <form class="form-inline" action="/user/logout" method="get">
                    <button class=" border border-1 border-white btn btn-m btn-danger-success mx-2 my-2 my-sm-0" type="submit">LOG OUT</button>
                </form>
            </div>
        </div>
    </div>
</div>