<nav class=" h5 navbar navbar-expand-lg navbar-primary bg-body my-4 mx-2 rounded p-3 shadow shadow-m rounded ">
  <div class="container-fluid ">
    <img  class ="iconNav" src="/logo.png" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center  " id="navbarNavDropdown">
      <ul class="navbar-nav p-3 mx-4 ">
        <li class=" nav-item h-100 navItem  mx-2 border-bottom">
          <a class="nav-link   text-dark" aria-current="page" href="/views/ingresarPedidos">Ingresar Pedido</a>
        </li>
        <li class="nav-item dropdown border-bottom navItem">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Altas
          </a>
          <ul class="dropdown-menu " aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item navItem border-bottom" href="/views/addContact">Alta de contacto</a></li>
            <li><a class="dropdown-item navItem border-bottom" href="/views/addAgency">Alta de agencia</a></li>
            <li><a class="dropdown-item navItem border-bottom" href="#">Alta de buque</a></li>
            <li><a class="dropdown-item navItem border-bottom" href="/views/addCompany">Alta de empresa</a></li>
          </ul>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
